<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorate="~{layouts/content2}"
	 >



<div layout:fragment="content2">
		<div class="container demo-3" style="height: 100%">
			<!-- Top Navigation -->
			<ul class="grid cs-style-4"  >
				<li th:each="photoBoardList : ${photoBoardList}">
					<figure >
						<div th:each="ppp : ${photoBoardList.getPhotoVOList().get(0)}">
							<img  th:src="@{/upload/}+${photoBoardList.getUser().getProvider()} +'/'+${photoBoardList.getUser().getEmail()}+'/Photo/'+${ppp.getServerPhotoName()}" alt="img05"  style="height: 350px; width: 400px"></div>
						<figcaption>
							<h3 th:text="${photoBoardList.getTitle()}"></h3>
							<span th:text="${photoBoardList.getUser().getUsername() + ' : ' + photoBoardList.getUser().getProvider()}"></span>
							<a th:href="@{/photo/view(photoBoardIdx=${photoBoardList.getId()})}">Take a look</a>
						</figcaption>
					</figure>
				</li>
			</ul>
			<form action="/photo/insertForm"  method="get" sec:authorize="isAuthenticated()" >
				<input type="hidden" name="userId"  th:value="${#authentication.principal.user.id}">
				<div class="form-control">
					<button type="submit" class="btn btn-primary"  >Upload</button>
				</div>
			</form>

		</div><!-- /container -->
		<script th:src="@{/js/toucheffects.js}"></script>
</div>
</html>