<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="header">
    <div class="header">
        <header>
            <h1 class="logo"> JSL 인재 개발원  </h1>
            <div class="nav">
                <nav>
                    <ul class="navi">
                        <li><a href="/">[홈으로]</a></li>
                        <li><a href="/joinform" sec:authorize="isAnonymous()">[회원가입]</a></li>
                        <li><a href="" sec:authorize="isAuthenticated()">[자유게시판]</a></li>
                        <li><a href="" sec:authorize="isAuthenticated()">[자료실]</a></li>
                        <li><a href="" sec:authorize="isAuthenticated()">[포토겔러리]</a></li>
                        <li><a href="/loginform" sec:authorize="isAnonymous()">[로그인]</a></li>
                        <li><span sec:authorize="isAuthenticated()" th:text="${#authorization.authentication.name}+'  HI!'"></span></li>
                        <li><button type="button" onClick="location.href='/logout'" th:text="Logout" class="btn but-primary" sec:authorize="isAuthenticated()"></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
</div>

</html>