<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/content}">


<div layout:fragment="content">

        <div class="content">
            <h2 class="title">일본해외취업 연수기관 ‘JSL인재개발원’이 함께합니다!</h2>
            <br>JSL인재개발원은 한국산업인력공단의 해외취업연수 사업인 K-Move스쿨 운영기관으로
            글로벌 인재양성을 위한 해외취업 특화과정을 주 프로그램으로 운영하고 있습니다.<br><br>
            <h3>‘JSL인재개발원’은 이런 분들께 추천합니다!</h3>
            <br> 1. IT 관련 학과를 전공하신 분<br>
            <br> 2. JAVA/C를 배우고 싶으신 분<br>
            <br> 3. DB 에 관심이 많으신 분<br>
            <br> 4. JSP&Sevelet 경험하고 싶으신분<br>
            <br> 5. 일본어 학과를 전공하신 분<br>
            <br> 6. 일본취업에 관심이 많으신 분<br>
            <br> 7.일본취업을 목표로 하시는 분<br>
        </div>

</div>
</html>